.u-show--mobile {
    display: block;
    @include breakpoint(tablet) {
        display: none;
    }
}

.u-show--tablet {
    display: block;
    @include breakpoint(desktop) {
        display: none;
    }
}

.u-show--desktop {
    display: none;
    @include breakpoint(desktop) {
        display: block;
    }
}