// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// --
body {
    text-align: center;
}

.c-main {
  
}

.c-social-nav {
   
}

.c-social-nav__list {
  
}

.c-social-nav__item {
   
}

.c-social-nav__link {
    
}

.c-header {
    
}

.c-logo {
    
}


.c-section {

}

.c-article__picture {

}

.c-picture {
    
}

.c-cta {
    
}

.c-input-text {
    border-radius: 8px 0 0 8px;
}

.c-button {
    border-radius: 0 8px 8px 0;
}
