// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.c-button {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include font-size(1.4);

    border: none;    
    letter-spacing: 2.8px;
    height: 45px;
    padding: 0 22px;
    @include breakpoint(desktop) {
        height: 55px;
    }
}
