// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Base colors
$bg-color:#205E5D;
$primary-color:white;
$secondary-color:#19BD9C;
$secondary-bg:#252839