// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Base colors
$bg-color:rgb(33, 95, 94);
$primary-color:white;
$secondary-color:#19BD9C;
$secondary-bg:#252839