/*
Author     : stefano
Description: Purpose of the stylesheet follows.
*/
/*********************
BREAKPOINTS
*********************/
/*********************
TYPOGRAPHY
*********************/
/*********************
BOX-MODEL
*********************/
/* Borders */
/**
 * ---------------------------------------------------
 * 	Table of contents
 * ---------------------------------------------------
 */
/**----------
	3. Generic
		3.1 base
		3.2 Fonts
		3.3 Typography
		3.4 Helpers
	4. Elements
		4.1 Header 
		4.2 Headings
		4.3 Parags
		4.4 Footer
	5. Objects
		5.1 Buttons
	6. Components
		6.1 Buttons
		6.1 Forms elements
	7. Utilities
		7.1 utilities


---------------*/
/**
 * ---------------------------------------------------
 * 	3. generic
 * ---------------------------------------------------
 */
/* --------------------- 3.1 Base --------------------- */
/**
 * Set up a decent box model on the root element
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/**
 * Basic styles for headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

/**
 * Basic styles for forms
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * Basic styles for images
 */
img {
  max-width: 100%;
}

/**
 * Basic styles for images
 */
picture {
  display: block;
}

/**
 * Basic styles for list
 */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* --------------------- 3.2 Fonts --------------------- */
/* --------------------- 3.3 Typography --------------------- */
/**
 * Basic typography style for copy text
 */
body {
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
}

dd {
  margin-left: 25px;
}

/* --------------------- 3.4 Helpers --------------------- */
.u-show--mobile {
  display: block;
}

@media (min-width: 768px) {
  .u-show--mobile {
    display: none;
  }
}

.u-show--tablet {
  display: block;
}

@media screen and (min-width: 1024px) {
  .u-show--tablet {
    display: none;
  }
}

.u-show--desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-show--desktop {
    display: block;
  }
}

/**
 * ---------------------------------------------------
 * 	4. Elements
 * ---------------------------------------------------
 */
/* --------------------- 4.1 Header --------------------- */
/* --------------------- 4.2 headings --------------------- */
/* --------------------- 4.3 parags (texts, notes, messages) --------------------- */
.c-parag {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 0 26px;
}

@media screen and (min-width: 1024px) {
  .c-parag {
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 48px;
  }
}

/* --------------------- 4.4 Footer --------------------- */
/**
 * ---------------------------------------------------
 * 	5.  Objects
 * ---------------------------------------------------
 */
/**
 * ---------------------------------------------------
 * 	6.  Components
 * ---------------------------------------------------
 */
/* --------------------- 6.1 Buttons --------------------- */
.c-button {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  font-size: 14px;
  font-size: 1.4rem;
  border: none;
  letter-spacing: 2.8px;
  height: 45px;
  padding: 0 22px;
}

@media screen and (min-width: 1024px) {
  .c-button {
    height: 55px;
  }
}

/* --------------------- 6.2 Inputs --------------------- */
.c-input-text {
  font-size: 16px;
  font-size: 1.6rem;
  border: none;
  height: 45px;
  padding-left: 11px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .c-input-text {
    font-size: 20px;
    font-size: 2rem;
    height: 55px;
  }
}

/* --------------------- 6.3 Article --------------------- */
@media (min-width: 768px) {
  .c-article {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .c-article {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .c-article__content {
    text-align: left;
    max-width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  .c-article__content {
    max-width: 600px;
    margin-top: 92px;
    margin-left: 95px;
  }
}

@media screen and (min-width: 1140px) {
  .c-article__content {
    margin-top: 100px;
    margin-left: 167px;
  }
}

/**
 * ---------------------------------------------------
 * 	7.  Utilities
 * ---------------------------------------------------
 */
/**
 * ---------------------------------------------------
 * 	8.  Pages
 * ---------------------------------------------------
 */
/* --------------------- 8.1 Home Page Contoso --------------------- */
body {
  background: #205E5D;
  color: white;
  text-align: center;
  font-family: "Merriweather";
}

.c-main {
  margin: 0 auto;
  /*max-width: 1140px;*/
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .c-main {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
  }
}

.c-section {
  height: 506px;
}

@media screen and (min-width: 1024px) {
  .c-section {
    height: 672px;
    width: 384px;
  }
}

.c-section__trip {
  height: 460px;
}

@media screen and (min-width: 1024px) {
  .c-section__trip {
    height: 672px;
    width: 328px;
  }
}

.c-section__moonwalker {
  height: 280px;
}

@media screen and (min-width: 1024px) {
  .c-section__moonwalker {
    height: 672px;
    width: 700px;
  }
}

.c-article {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
  height: 100%;
}

.c-article__visa {
  background-image: url(./../images/rock.jpg), url(./../images/rocket.png);
  background-size: 100% 150px, auto 100%;
  background-position: top center, 35% 150px;
  padding: 6.5rem 4rem 4rem;
}

@media screen and (min-width: 1024px) {
  .c-article__visa {
    background-image: url(./../images/rock.jpg);
    background-size: cover;
    position: relative;
  }
}

.c-article__trip {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  background-image: url(./../images/background.jpg);
  background-position: 25% center;
  background-size: auto 230%;
  padding: 0 2rem;
  position: relative;
  text-align: left;
  z-index: 1;
}

.c-article__trip:before {
  content: '';
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .c-article__trip {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    background-image: url(./../images/background.jpg);
    background-size: auto 106%;
    background-position: left bottom;
  }
  .c-article__trip:after {
    content: '';
    background-image: url(./../images/background.jpg);
    background-size: 300% auto;
    background-position: left -5rem;
    background-repeat: no-repeat;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.c-article__moonwalker {
  background-image: url(./../images/background.jpg);
  background-position: -210px bottom;
  background-size: 400%;
}

@media screen and (min-width: 1024px) {
  .c-article__moonwalker {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    background-position: right bottom;
    background-size: 150% auto;
    position: relative;
    z-index: 1;
    width: 700px;
  }
  .c-article__moonwalker:before, .c-article__moonwalker:after {
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
  }
  .c-article__moonwalker:before {
    content: '';
    background-image: url(./../images/background.jpg);
    background-position: center -5rem;
    background-size: auto 150%;
    height: 480px;
    left: 0;
    width: 330px;
  }
  .c-article__moonwalker:after {
    content: '';
    background-image: url(./../images/rocket.png);
    background-position: center top;
    background-size: auto 480px;
    height: 100%;
    left: 330px;
    width: calc(100% - 330px);
  }
}

.c-h1 {
  font-size: 40px;
  font-size: 4rem;
  margin-top: auto;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 90%;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .c-h1 {
    font-size: 80px;
    font-size: 8rem;
    left: 28rem;
    position: absolute;
    top: 48%;
    white-space: nowrap;
    z-index: 2;
  }
}

.c-h2 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 168%;
  font-weight: 600;
}

.c-logo {
  background-image: url("./../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  width: 140px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .c-logo {
    height: 200px;
    width: 200px;
    margin-left: 10rem;
  }
}

.c-icon__rocket {
  position: relative;
  z-index: 2;
}

.c-icon__rocket:before, .c-icon__rocket:after {
  content: '';
  left: -3px;
  position: absolute;
  width: 99px;
}

.c-icon__rocket:before {
  background-image: url("./../images/icon_rocket.png");
  height: 97px;
  top: -95px;
}

.c-icon__rocket:after {
  background: #19BD9C;
  bottom: -3px;
  height: 3px;
  width: 94px;
}

@media screen and (min-width: 1024px) {
  .c-icon__rocket {
    margin-top: 14rem;
  }
}

.c-tags__list {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.8rem;
  margin-bottom: 9.5rem;
  z-index: 2;
}

.c-tag__item {
  font-size: 20px;
  font-size: 2rem;
  font-style: italic;
  margin-right: .5ch;
}

@media screen and (min-width: 1024px) {
  .c-slider-controls {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    background: #252839;
    height: 260px;
    padding: 7rem 5rem 2.4rem;
    margin-bottom: -6.8rem;
    width: 330px;
  }
}

.c-loading {
  background: white;
  height: 3px;
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.c-bar {
  background: #19BD9C;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30%;
}

.c-nav {
  margin-top: auto;
  width: 100%;
}

.c-nav__list {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.c-nav__item {
  font-size: 18px;
  font-size: 1.8rem;
}

.c-nav__link {
  color: white;
  display: block;
  line-height: 3rem;
  position: relative;
}

.c-nav__link:hover {
  color: #19BD9C;
}

.c-nav__link-ease:after {
  content: '';
  position: absolute;
  bottom: -3px;
  height: 3px;
  left: 0;
  width: 100%;
  background: white;
}

.c-nav__link-ease:hover:after {
  background: #19BD9C;
}
/*# sourceMappingURL=style.css.map */