// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
    @include box-sizing(border-box);
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
    @include box-sizing(border-box);
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    padding: 0;
}


/**
 * Basic styles for headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/**
 * Basic styles for links
 */

a {
    text-decoration: none;
}


/**
 * Basic styles for forms
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/**
 * Basic styles for images
 */

img {
    max-width: 100%;
}


/**
 * Basic styles for images
 */

picture {
    display: block;
}


/**
 * Basic styles for list
 */

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}